
        /* CSS style for index.php */
        .container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f2f2f2;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        p {
            text-align: center;
        }

        
       

        /* CSS styles for header.php */
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        nav{
            position: fixed;
            background-color: skyblue;
            height: 70px;
            width: 100%;
            z-index: 1;
            
        }
        
        .logo{
            font-size: 25px;
            position: relative;
            left: 5%;
            color: white;
            font-weight: bold; 
            line-height: 70px;
        }
        
        ul{
            position: relative;
            float: right;
            margin-right: 20px;
        }
        
        ul li{
            list-style: none;
            display: inline-block;
            margin: 0 8px;
            line-height: 70px;
        }
        
        ul li a{
            text-decoration: none;
            color: white;
            font-size: 17px;
            font-weight: bold;
        }
        
        .main_img{
            width: 100%;
            height: 800px;
            background-image: url(../images/main_img.jpg);
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }
        
        .section1{
            padding-top: 70px;
        }
        
        .img-text{
            position: absolute;
            top: 50%;
            left: 30%;
            color: white;
            background-color: midnightblue;
            padding-right: 20px;
            padding-left: 20px;
            font-size: 35px;
        }

        /* CSS styles for register.php */
        .container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f2f2f2;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input[type="checkbox"] {
            margin-bottom: 20px;
        }

        input[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        p {
            text-align: center;
        }

       